<!DOCTYPE html>
<meta charset="utf-8"/>
<html lang="ptb">
    <head>
        <title>Sistema de Matrícula</title>
		<link href="style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="iconic.css" media="screen" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="prefix-free.js"></script>
    </head>
    <script language="Javascript">
            window.onload = function () {
                setTimeout('location.reload();', 120000);
            }
    </script>
    <script>
        function Cadastrar() {
            if(getElementById("form").)
            document.getElementById("form").submit();
        }
        </script>
    <body>
        <div class="wrap">
            <nav>
                <ul class="menu">
                    <li><a href="/"><span class="iconic home"></span> Home</a></li>
                    <li><a href="#"><span class="iconic plus-alt"></span> Informações</a>
                        <ul>
                            <li><a href="/Manual">Manual</a></li>
                            <li><a href="/Sistema">Sistema</a></li>
					        <li><a href="/Desenvolvedores">Desenvolvedores</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="iconic map-pin"></span> Cadastro</a>
                        <ul>
                            <li><a href="/Disciplina">Disciplinas</a></li>
                            <li><a href="/Professor">Professores</a></li>
                            <li><a href="/Turma">Turmas</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="iconic magnifying-glass"></span> Relatorio</a>
                        <ul class="subs">
                            <li><a href="#">Disciplina</a></li>
                            <li><a href="#">Professor</a></li>
                            <li><a href="#">Turmas</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="iconic mail"></span> Contato</a>
                        <ul>
                            <li><a href="#">E-mail</a></li>
                            <li><a href="#">Telefones</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </br>
            <h1 class="title">Cadastro de Disciplina</h1>
        </br>
        </br>
            <form action="/Disciplina" method="POST" id="form">
                <p class="nome">
                    <label for="code">Código:</label>            
                    <input class="internbox" type="text" id="codeid" placeholder="Codigo" required="required" name="code" />    
                    <label for="discipline">Nome:</label>            
                    <input type="text" id="diciplineid" placeholder="Disciplina" required="required" name="discipline" />
                    <label for="hour">Carga Horária:</label>
                            <select id="hour" name="hour">
                                <option value=""></option>
                                <option value="1">1 hora</option>
                                <option value="2">2 horas</option>
                                <option value="3">3 horas</option>
                                <option value="4">4 horas</option>
                            </select>
            
                </p>
        </br>
        </br>
                <div align="center">
                    <input class="button" type="submit" value="Cadatrar">
                    <!--<input class="button" type="submit" value="Deletar">-->
                </div>
            </form>
        </br>
        </br>
        <div class="wrapper">
            <div class="item1">Visualizacao da Disciplina</div>
            <div>Código</div>
            <div class="item3">Disciplina</div>
            <div class="item4">Carga Horária</div>
        </div>
         <div class="wrapper">
                <table class="item1" id="table">
                    <% disciplinas.forEach(function(disciplina) 
                        { %>           
                            <tr>
                                <td class="td1"><%= disciplina.cod %></td>
                                <td class="td2"><%= disciplina.disciplina %></td>
                                <td class="td3"><%= disciplina.carg_hora %></td>
                            </tr>
                        <% }); 
                    %>
                </table>
            </div>
        </div>
    </body>
</html>