<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Sistema de Matricula</title>
        <link rel="stylesheet" type="text/css" href="text.css">
    <body style="background-color:black">
        <ul id="nav">
            <li><a href="#">Home</a></li>
            <li><a class="hsubs" href="#">Cadastro</a>
                <ul class="subs">
                    <li><a href="#">Disciplina</a></li>
                    <li><a href="#">Professor</a></li>
                    <li><a href="#">Turmas</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="#">Visualizar</a>
                <ul class="subs">
                    <li><a href="#">Disciplina</a></li>
                    <li><a href="#">Professor</a></li>
                    <li><a href="#">Turmas</a></li>
                </ul>
            </li>
            <li><a class="hsubs" href="#">Relatório</a>
                <ul class="subs">
                    <li><a href="#">Disciplina</a></li>
                    <li><a href="#">Professor</a></li>
                    <li><a href="#">Turmas</a></li>
                </ul>
            </li>
            <div id="lavalamp"></div>
        </ul>
                            
    </body>
</html>