<!DOCTYPE html>
<meta charset="utf-8"/>
<html lang="ptb">
<head>
    <title>Sistema de Matrícula</title>
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="iconic.css" media="screen" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="prefix-free.js"></script>
    <script language="Javascript">
        window.onload = function () {
            setTimeout('location.reload();', 120000);
    }
    </script>
</head>
<script>
    function Cadastrar() {
        if(getElementById("form").)
        document.getElementById("form").submit();
    }
</script>
<body>
    <div class="wrap">
            <nav>
                <ul class="menu">
                    <li><a href="/"><span class="iconic home"></span> Home</a></li>
                    <li><a href="#"><span class="iconic plus-alt"></span> Sobre</a>
                        <ul>
                            <li><a href="#">Sistema</a></li>
                            <li><a href="#">Desenvolvedores</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="iconic map-pin"></span> Cadastro</a>
                        <ul>
                            <li><a href="/Disciplina">Disciplinas</a></li>
                            <li><a href="/Professor">Professores</a></li>
                            <li><a href="/Turma">Turmas</a></li>
                        </ul>
                    <li><a href="#"><span class="iconic magnifying-glass"></span> Relatorio</a>
                        <ul class="subs">
                            <li><a href="#">Disciplina</a></li>
                            <li><a href="#">Professor</a></li>
                            <li><a href="#">Turmas</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="iconic mail"></span> Contato</a>
                        <ul>
                            <li><a href="#">E-mail</a></li>
                            <li><a href="#">Telefones</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </nav>
    </br>   
    <h1 class="title">Cadastro de Professor</h1>
    </br>
    </br>
        <form name="cadProf" action="/Professor" method="POST" id="form">
        </br>
            <p class="nome">
                <label for="nome">Nome:</label>            
                <input type="text" id="nomeid" placeholder="Professor" required="required" name="prof" /> 
                <label for="nome">Disciplina:</label>
                <select id="discipline" name="discipline">
                            <option value=""></option>
                            <% disciplinas.forEach(function(disciplina) 
                                { %>           
                                    <option value="<%= disciplina.cod %>"><%= disciplina.disciplina %></option>  
                                <% }); 
                            %>
                        </select>
                <label for="email">Email:</label>
                <input type="email" id="emailid" placeholder="seuemail@mail.com" name="email" />
            </p>
        </br>
        </br>
            <p class="nome1">
                    <label for="day">
                            <input type="checkbox" id="segundaday1" name="segundaday1" value="1">Segunda-Feira 
                    </br>   
                            <label for="hour">&nbsp;&nbsp;Horários</label>
                            <input type="checkbox" id="segunda1" name="segunda1"  value="1">&nbsp;18-19 &nbsp;
                            <input type="checkbox" id="segunda2" name="segunda2"  value="1">&nbsp;19-20 &nbsp;
                            <input type="checkbox" id="segunda3" name="segunda3"  value="1">&nbsp;20-21 &nbsp;
                            <input type="checkbox" id="segunda4" name="segunda4"  value="1">&nbsp;21-22 &nbsp;
                        </label>
                    </br></br>
                        <label for="day">
                            <input type="checkbox" id="tercaday2" name="tercaday2" value="2"> Terca-Feira
                        </br>
                            <label for="hour">&nbsp;&nbsp;Horários</label>
                            <input type="checkbox" id="terca1" name="terca1" value="1">&nbsp;18-19 &nbsp;
                            <input type="checkbox" id="terca2" name="terca2" value="1">&nbsp;19-20 &nbsp;
                            <input type="checkbox" id="terca3" name="terca3" value="1">&nbsp;20-21 &nbsp;
                            <input type="checkbox" id="terca4" name="terca4" value="1">&nbsp;21-22 &nbsp;
                        </label>
                    </br></br>
                        <label for="day">
                            <input type="checkbox" id="quartaday3" name="quartaday3" value="3" onclick="liberar('quarta')"> Quarta-feira
                        </br>
                            <label for="hour">&nbsp;&nbsp;Horários</label>
                            <input type="checkbox" id="quarta1" name="quarta1" value="1">&nbsp;18-19 &nbsp;
                            <input type="checkbox" id="quarta2" name="quarta2" value="1">&nbsp;19-20 &nbsp;
                            <input type="checkbox" id="quarta3" name="quarta3" value="1">&nbsp;20-21 &nbsp;
                            <input type="checkbox" id="quarta4" name="quarta4" value="1">&nbsp;21-22 &nbsp;
                        </label>
                    </br></br>
                        <label for="day">  
                            <input type="checkbox" id="quintaday4" name="quintaday4" value="4" onclick="liberar('quinta')"> Quinta-feira
                        </br>
                            <label for="hour">&nbsp;&nbsp;Horários</label>
                            <input type="checkbox" id="quinta1" name="quinta1" value="1">&nbsp;18-19 &nbsp;
                            <input type="checkbox" id="quinta2" name="quinta2" value="1">&nbsp;19-20 &nbsp;
                            <input type="checkbox" id="quinta3" name="quinta3" value="1">&nbsp;20-21 &nbsp;
                            <input type="checkbox" id="quinta4" name="quinta4" value="1">&nbsp;21-22 &nbsp;
                        </label>
                    </br></br>
                        <label for="day">
                            <input type="checkbox" id="sextaday5" name="sextaday5" value="5" onclick="liberar('sexta')"> Sexta-feira
                        </br>
                            <label for="hour">&nbsp;&nbsp;Horários</label>
                            <input type="checkbox" id="sexta1" name="sexta1" value="1">&nbsp;18-19 &nbsp;
                            <input type="checkbox" id="sexta2" name="sexta2" value="1">&nbsp;19-20 &nbsp;
                            <input type="checkbox" id="sexta3" name="sexta3" value="1">&nbsp;20-21 &nbsp;
                            <input type="checkbox" id="sexta4" name="sexta4" value="1">&nbsp;21-22 &nbsp;
                        </label>
            </br>
            </p>
            </br>
            <div class="wrapper1">
                <div class="item1">Lista de Professores</div>
            </div>
            <div class="wrapper">
                <table class="item1" id="table">
                    <tr>
                        <td class="td1_t1"> Dia</td>
                        <td class="td3"> Professor</td>
                        <td class="td1_t2"> Disciplina</td>
                        <td class="td1_t3"> 18-19</td>
                        <td class="td1_t3"> 19-20</td>
                        <td class="td1_t3"> 20-21</td>
                        <td class="td1_t3"> 21-22</td>                        
                    </tr>
                    <% professores.forEach(function(professor) 
                        { %>           
                            <tr>
                                <td class="td1_t1">
                                    <% if (professor.dia == 1) {%>Segunda<%} %>
                                    <% if (professor.dia == 2) {%>Terça<%} %>
                                    <% if (professor.dia == 3) {%>Quarta<%} %>
                                    <% if (professor.dia == 4) {%>Quinta<%} %>
                                    <% if (professor.dia == 5) {%>Sexta<%} %>
                                </td>
                                <td class="td_t2"><%= professor.nome %></td>
                                <td class="td_t2"><%= professor.disciplina %></td>
                                <td class="td_t3">
                                    <% if (professor.hora1 == 1) {%>Sim<%} %>
                                    <% if (professor.hora1 == 0) {%>Não<%} %>
                               </td>
                               <td class="td_t3">
                                    <% if (professor.hora2 == 1) {%>Sim<%} %>
                                    <% if (professor.hora2 == 0) {%>Não<%} %>
                               </td>
                               <td class="td_t3">
                                    <% if (professor.hora3 == 1) {%>Sim<%} %>
                                    <% if (professor.hora3 == 0) {%>Não<%} %>
                               </td>
                               <td class="td_t3">
                                    <% if (professor.hora4 == 1) {%>Sim<%} %>
                                    <% if (professor.hora4 == 0) {%>Não<%} %>
                               </td>      
                            </tr>
                        <% }); 
                    %>       
                </table>
            </div>
            </br>
            <div align="center">
                <input class="button" type="submit" value="Cadatrar">
                <!--<input class="button" type="submit" value="Deletar">-->
            </div>
        </form>
        </br>
        </br>
    </div>
</body>
</html>