<!DOCTYPE html>
<meta charset="utf-8"/>
<html lang="ptb">
    <head>
        <title>Sistema de Matrícula</title>
		<link href="style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="iconic.css" media="screen" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--script src="prefix-free.js"></script-->
        <script src="jquery.min.js"></script>
        <script language="Javascript">
            window.onload = function () {
                setTimeout('location.reload();', 120000);
            }
        </script>
        <script>
            $(document).ready(function(){
            $("#day0").blur(function(){
                $.post("/find", { 
                    discipline1: $('#discipline1').val(),
                    hour0: $('#hour0').val(),
                    day0: $('#day0').val()
                }).done(function(professores){
                    console.log(professores);
                    $("#professorid1").html('');
                    professores.forEach( function(professor) {
                        $("#professorid1").append(new Option(professor.nome, professor.id));
                    })
                });
            });
            });
        </script>
        
    </head>
    <body>
        <script type="text/javascript">
            function exibir_ocultar() 
            {
                
                
                var qtdisc = document.getElementById("qtdiscipline").value;
                if (qtdisc)
            {
                for (i = 6 ;i > qtdisc; i--)
                {
                    var res = 'disc'.concat(i - 1);
                    document.getElementById(res).style.visibility = 'hidden';
                }
            }
                for (i = 0; i < qtdisc; i++)
                {
                    var res = 'disc'.concat(i);
                    document.getElementById(res).style.visibility = 'visible';
                    //consle.log(res);
                }
            }
        </script>
        <div class="wrap">
                <nav>
                    <ul class="menu">
                        <li><a href="/"><span class="iconic home"></span> Home</a></li>
                        <li><a href="#"><span class="iconic plus-alt"></span> Sobre</a>
                            <ul>
                                <li><a href="#">Sistema</a></li>
                                <li><a href="#">Desenvolvedores</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="iconic map-pin"></span> Cadastro</a>
                            <ul>
                                <li><a href="/Disciplina">Disciplinas</a></li>
                                <li><a href="/Professor">Professores</a></li>
                                <li><a href="/Turma">Turmas</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="iconic magnifying-glass"></span> Relatorio</a>
                            <ul class="subs">
                                <li><a href="#">Disciplina</a></li>
                                <li><a href="#">Professor</a></li>
                                <li><a href="#">Turmas</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="iconic mail"></span> Contato</a>
                            <ul>
                                <li><a href="#">E-mail</a></li>
                                <li><a href="#">Telefones</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
        </br>   
        <h1 class="title">Cadastro de Turma</h1>
        </br>
        </br>
            <form action="/Turma" method="POST" id="form">>
                <p class="nome">
                    <label for="turnome">Nome</label>            
                    <input type="text" id="turnomeid" placeholder="Turma" required="required" name="turnome" />
                    
                </p>
            </br>
                <p class="discipline" id="disc0">
                        <label for="discipline1">Disciplina:</label>
                        <select id="discipline1" name="discipline1">
                            <option value=""></option>
                            <% disciplinas.forEach(function(disciplina) 
                                { %>           
                                    <option value="<%= disciplina.cod %>"><%= disciplina.disciplina %></option>  
                                <% }); 
                            %>
                        </select>
                        <label for="hour">Horário:</label>
                        <select id="hour0" name="hour0">
                            <option value=""></option>
                            <option value="1">18-19</option>
                            <option value="2">19-20</option>
                            <option value="3">20-21</option>
                            <option value="4">21-22</option>
                        </select>
                        <label for="day">Dia:</label>
                        <select id="day0" name="day0">
                            <option value=""></option>
                            <option value="1">segunda-feira</option>
                            <option value="2">terça-feira</option>
                            <option value="3">quarta-feira</option>
                            <option value="4">quinta-feira</option>
                            <option value="5">sexta-feira</option>
                        </select>
                        <label for="nome">Professor:</label>            
                        <select id="professorid1" name="professorid1">
                            <option value=""></option>
                        </select>
                </p>
            </br>
            </br>
                <div align="center">
                    <input class="button" type="submit" value="Cadatrar">
                    <!--<input class="button" type="submit" value="Deletar">-->
                </div>
            </form>
            </br>
            </br>
            <div class="wrapper1">
                <div class="item1">Visualização da Turma</div>
            </div>
            <div class="wrapper">
                <table class="item1" id="table">
                    <tr>
                        <td class="td1_t1"> Dia</td>
                        <td class="td1_t2"> Disciplina</td>
                        <td class="td1_t3"> Horário</td>
                        <td class="td3"> Professor</td>
                    </tr>
                    <% turmas.forEach(function(turma) 
                        { %>           
                            <tr>
                                <td class="td1_t1">
                                    <% if (turma.horario == 1) {%>Segunda<%} %>
                                    <% if (turma.horario == 2) {%>Terça<%} %>
                                    <% if (turma.horario == 3) {%>Quarta<%} %>
                                    <% if (turma.horario == 4) {%>Quinta<%} %>
                                    <% if (turma.horario == 5) {%>Sexta<%} %>
                                </td>
                                <td class="td_t2"><%= turma.disciplina %></td>
                                <td class="td_t3">
                                    <% if (turma.dia == 1) {%>18-19<%} %>
                                    <% if (turma.dia == 2) {%>19-20<%} %>
                                    <% if (turma.dia == 3) {%>20-21<%} %>
                                    <% if (turma.dia == 4) {%>21-22<%} %>
                               </td>      
                                <td class="td3"><%= turma.professor %></td>
                            </tr>
                        <% }); 
                    %>       
                </table>
            </div>
        </div>
    </body>
</html>