<!DOCTYPE html>
<html lang="ptb">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>Sistema de Cadastro</title>
		<link href="style.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="iconic.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="prefix-free.js"></script>
	</head>

<body>
	<div class="wrap">
	
	<nav>
		<ul class="menu">
			<li><a href="/"><span class="iconic home"></span> Home</a></li>
			<li><a href="#"><span class="iconic plus-alt"></span> Informações</a>
				<ul>
					<li><a href="sistema.ejs">Sistema</a></li>
					<li><a href="/Desenvolvedores">Desenvolvedores</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic map-pin"></span> Cadastro</a>
				<ul>
					<li><a href="/Disciplina">Disciplinas</a></li>
					<li><a href="/Professor">Professores</a></li>
					<li><a href="/Turma">Turmas</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic magnifying-glass"></span> Relatorio</a>
				<ul>
					<li><a href="#">Disciplina</a></li>
					<li><a href="#">Professor</a></li>
					<li><a href="#">Turmas</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic mail"></span> Contato</a>
				<ul>
					<li><a href="#">E-mail</a></li>
					<li><a href="#">Telefones</a></li>
				</ul>
			</li>
		</ul>
		<div class="clearfix"></div>
	</nav>
	</div>
	<div align="center">
		<p class="nome">
			O sistema de cadastro de Professor (Siscad 2018) foi desenvolvido por :
			Gabriel Crespo Costa
			Jonata de Barros Guilherme
			Vinícius Lima e Cruz
		</p>
	</div>
</body>

</html>