<!DOCTYPE html>
<html lang="ptb">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>Sistema de Cadastro</title>
		<link href="style.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="iconic.css" media="screen" rel="stylesheet" type="text/css" />
		<script src="prefix-free.js"></script>
	</head>

<body>
	<div class="wrap">
	
	<nav>
		<ul class="menu">
			<li><a href="/"><span class="iconic home"></span> Home</a></li>
			<li><a href="#"><span class="iconic plus-alt"></span> Informações</a>
				<ul>
					<li><a href="/Manual">Manual</a></li>
					<li><a href="/Sistema">Sistema</a></li>
					<li><a href="/Desenvolvedores">Desenvolvedores</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic map-pin"></span> Cadastro</a>
				<ul>
					<li><a href="/Disciplina">Disciplinas</a></li>
					<li><a href="/Professor">Professores</a></li>
					<li><a href="/Turma">Turmas</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic magnifying-glass"></span> Relatorio</a>
				<ul>
					<li><a href="#">Disciplina</a></li>
					<li><a href="#">Professor</a></li>
					<li><a href="#">Turmas</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic mail"></span> Contato</a>
				<ul>
					<li><a href="#">E-mail</a></li>
					<li><a href="#">Telefones</a></li>
				</ul>
			</li>
		</ul>
		<div class="clearfix"></div>
	</nav>
	<div align="center">
		</br></br>
		<p class="nome2" align="right">
				Para utilizar este sistema de forma adequada, você deverá executar os passos a seguir:</br>
			</br>
				1 - Clicar em Cadastro -> Disciplinas</br>
				Explicação: Aqui iremos cadastrar as disciplinas através dos passos a seguir,</br>
				lembrando que podemos ter mais de um professor por disciplina e em horários</br>
				diferenciados.</br>
			</br>
				a - Digitar o código da disciplina;</br>
				b - Digitar o nome da disciplina;</br>
				c - Selecionar a carga horária da disciplina(4 horas máxima por semana);</br>
				d - Após cadastrar a disciplina, será exibida em “Visualização da Disciplina”;</br>
			</br>
				2 - Clicar em Cadastro -> Professores</br>
				Explicação: Aqui poderemos cadastrar todos os professores e selecionar as</br>
				disciplinas específicas para cada professor e sua disponibilidade semanal.</br>
			</br>
				a - Digitar o nome do Professor;</br>
				b - Selecionar a Disciplina que este professor irá ministrar;</br>
				c - Digitar o e-mail do Professor para cadastro e troca de informações com os</br>
				alunos;</br>
				d - Selecionar os dias e horários disponíveis deste profissional;</br>
				e - Por fim, clicar em “Cadastrar”;</br>
				f - Feito isto, irá aparecer em “Lista de Professores” – Os dias, disciplinas e</br>
				horários possíveis;</br>
			</br>
				3 - Clicar em Cadastro -> Turmas</br>
				Explicação: Aqui chegamos a etapa final de nosso cadastro, onde o processo todo</br>
				se dará pela seleção correta apenas do professor que estiver disponível no horário</br>
				solicitado e matéria solicitada. </br>
				O sistema irá criticar 03 fases neste processo:</br>
			</br>
				a - XXXXXXX</br>
				b - XXXXXXX</br>
				c - XXXXXXX</br>
				d - XXXXXXX</br>

		</p>
	</div>
	</div>
	
</body>

</html>